body {
    background-color: #aad4cf;
    font-family: arial, sans-serif;

    display: grid;
    grid-template-columns: 1024px;
    justify-content: center;
    margin-top: 0;
}

body > .container, nav, main, footer {
    background-color: #d4e9e7;
    
}

/* It sets the navigation bar */
nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block; 
}


a:link {
    color: black;
    text-decoration: none;
    font-size: 19px;
    width: 337px;
    display: block;
    padding: 0;
}

/* Set the border just for classes .home and .story*/

.home, .story {
    border-color: black;
    border-style: solid;
    border-width: 0px 1px 0px 0px;
}

/* It sets the position and attributes for the header and text header */
.container {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1{
    letter-spacing: 2px;
    font-size: 55px;
    font-weight: normal;
}

/* The image floats to the left in the life of starfish paragraph*/

.article{
    width: 1010px;
    margin: 0 auto;
}

h2 {
    font-size: 32px;

}
.article > img{
    width: 245px;
    float: left;
    margin-right: 17px;
    margin-bottom: 18px;
  }

.article > p {
    line-height: 1.44;
    margin-right: 15px;
}

/* Sets margin to facts list*/
.facts {
    width: 1010px;
    margin: 0 auto;
}

h3 {
    font-size: 26px;
    margin-bottom: 15px;
}

/* It removes padding and margins from the unordered list.*/ 
.list-facts {
    margin-left: 1rem;
    padding-left: 0;
    list-style-type: default;
}


/* form styles*/
h4 {
    font-size: 26px;
    margin-bottom: 15px;
}

.contact-form {
    width: 1010px;
    margin: 0 auto; 
}

form {
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 38px;
    border-color: black;
    border-style: solid;
    border-width: 2px;

}

label > #op1 {
    display: flex;
    text-align: right;
    width: 500px;
    line-height: 3px;
}

input {
    height: 20px;
    flex: 0 0 200px;
    margin-bottom: 25px;
    margin-top: 8px;
    border: 1px solid #cccccc;
}

input[type=text], select {
    width: 100%;
}

textarea {
    width: 100%;
    height: 80px;
    border: 1px solid #737373;
    margin-top: 8px;
}

form p {
    margin-bottom: 30px;
}

input[type=radio] {
    -webkit-appearance: none;
    width: 12px;
    height: 12px;
    border: 1.5px solid #cccccc;
    border-radius: 50%;
    outline:none ;
    background-color: white;
    box-sizing: border-box;
    margin: 0;
    outline: 0;
    padding: 0;
    position: relative;
    top: -2px;
    vertical-align: bottom;
}

.button {
    font-size: 10px;
    background-color: #d4e9e7;
    border: 1px solid black;
    color: black;
    padding: 10px 8px 20px 8px;
    text-align: center;
    margin-top: 16px;
}

/* Here starts the footer content*/
.footer {
    display: flex;
    justify-content: right;
    height: 25px;
    padding: 30px;
}


