html {
    font-size: 16px;
}

body {
    font-family: verdana, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #eee;
    background-image: url("../images/white_brick_wall.png");
    background-repeat: no-repeat;
    background-position: 10px 20px;
    background-size: contain;
}

h1 {
    font-size: 1rem;
}

p {
    font-size: 1rem;
}

.bolded {
    font-weight: bold;
    font-size: 1.5rem;
}

.uppercase {
    text-transform: uppercase;
}

.italics {
    font-style: italic;
}