/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* The maximum width of the container is 1200px
Add media query for the screen size of 760px and above
Use the 'Open Sans' Google font for the webpage
Colours values used in the layout #c78c06, #ffe6ac, #222 and white
Use of CSS Grid properties for a minimum of one element
Use of CSS Flexbox properties for a minimum of one element 
Follow proper folder structure and naming conventions
CSS code is valid
CSS is properly formatted
Proper link to GitHub Pages site submitted
Overall design and match with the provided mockup
Include comments in your CSS and with any changes made to your HTML */

/************************************************************************/
/******************* My Code start from here  ***************************/
/************************************************************************/

 /****************** MOBILE-FIRST STYLES ********************************/ 
body {
    background: white;
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 14px;
}

header {
    background: #222;
    color: #fff;
}

/* Navigation*/

nav ul {
    text-align: center;
    padding: 0;
    margin: 0;
}

.upper a {
    color: #c78c06;
    display: block;
    padding: 20px;
    text-decoration: none;
    font-size: 18px;
}

nav ul li .home {
    background-color:#c78c06;
    color:#222;
}

.logo {
    background-color: #c78c06;
}

.search {
    width: 100%;
    position: relative;
    display:flex;
}

.upper input {
    font-family: arial;
    font-size: 18px;
    width: 100vh;
    height: 40px;
}

.upper button {
    font-size: 20px;
    background-color: #222;
    border: 1px solid #c78c06;
    padding: 7px 7px 7px 7px;
    color: #c78c06;
}


/* banner*/

* {
    box-sizing: border-box;
}

.intro {
    background-color: white;
    background-image: url(/valv0005.github.io/final-project/images/main-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    max-width: 100%;
    height: 600px;
    display: block;
}

.intro .welcome-content {
    margin-top: 6.5px;
    position: relative;
    top: 100px;
    background: rgb(0, 0, 0);/* Fallback color */
    background: rgba(0, 0, 0, 0.5);/* Black background with opacity */
    width: 100%;
    height: 463px;
    padding-top: 70px;
    padding-bottom: 14px;
    padding-left: 14px;
    padding-right: 70px;
    
}

h1 {
    font-size: 71px;
    line-height: 98px;
    font-weight: bold;
}

.intro p {
    font-size: 14px;
    line-height: 21px;
}

.intro button {
    font-size: 21px;
    padding-left: 32px;
    padding-right: 30px;
    padding-top: 33px;
    padding-bottom: 35px;
    background-color: #c78c06;
    border: none;
    color: #000;
    margin-top: 9px;
}

span {
    font-size: 25px;
}

/* About us section*/

.section-about{
    background-color: #ffe6ac;
    padding: 14px;
}

.section-about img {
    width: 100%;
    height: auto;
}

.section-about h2 {
    font-size: 48px;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 25px;
}

.section-about p{
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 10px;
}

/* Our services section*/

.section-services {
    background-color: #fff;
    padding: 14px;
}

.section-services img {
    width: 100%;
    height: auto;
}

.section-services h2 {
    font-size: 54px;
    font-weight: bold;
    margin-top: 60px;
    margin-bottom: 30px;
}

.section-services h3 {
    font-size: 32px;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 40px;
}

.section-services p {
    font-size: 14px;
    line-height: 21px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
}

.section-services button {
    font-size: 21px;
    background-color: #222;
    color: #fff;
    border: none;
    margin-left: 15px;
    margin-top: 14px;
    margin-bottom: 13px;
    padding-left: 33px;
    padding-right: 30px;
    padding-bottom: 33px;
    padding-top: 33px;
}

.transformation {
    background-color: #ffe6ac;
}

.marketing {
    background-color: #ffe6ac;
    margin-top: 14px;
}

.video-production {
    background-color: #ffe6ac;
    margin-top: 14px;
}

.web-development {
    background-color: #ffe6ac;
    margin-top: 14px;
}

.print {
    background-color: #ffe6ac;
    margin-top: 14px;
}

/* Our vision styles*/

.vision-content{
    vertical-align: center;
}

.vision-content h3{
    font-size: 32px;
    font-weight: bold;
    color: #fff;
    margin-top: 28px;
}

.vision-content p{
    font-size: 14px;
    line-height: 21px;
    color: #fff;
    margin-top: 18px;
}

.vision-content button {
    font-size: 22px;
    color: #fff;
    background: rgb(0, 0, 0);/* Fallback color */
    background: rgba(0, 0, 0, 0.5);/* Black background with opacity */
    border: 1px solid #c78c06;
    margin-top: 13px;
    padding-left: 33px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 35px;

}

.section-ourvision {
    background-color: white;
    background-image: url(/valv0005.github.io/final-project/images/vision.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    max-width: 100%;
    height: 276px;
    display: block;
    padding: 14px;
}

/* Team section styles */

.section-team {
    background-color: #fff;
    padding: 14px;
}

.section-team h2 {
    font-size: 48px;
    font-weight: bold;
    margin-top: 28px;
}

.section-team img {
    width: 100%;
    height: auto;
}

.section-team h3 {
    font-size: 32px;
    font-weight: bold;
    padding-left: 15px;
    margin-top: 23px;
    letter-spacing: -1.5px;
}

.section-team h4 {
    font-size: 15px;
    font-weight: bold;
    padding-left: 15px;
    margin-top: 13px;
}

.section-team hr{
    border: 1px solid #c78c06;
    background-color: #c78c06;
    margin-left: 15px;
    margin-right: 14px;
    margin-top: 4px;
}

.section-team p{
    font-size: 14px;
    line-height: 21px;
    padding-left: 14px;
    padding-right: 14px;
    margin-top: 17px;
    padding-bottom: 29px;
}

.section-team .john {
    background-color: #ffe6ac;
    margin-top: 28px;
}

.section-team .bob {
    background-color: #ffe6ac;
    margin-top: 14px;
}

/* Contact us section styles*/

.section-contact {
    padding: 14px;
}
.section-contact h2 {
    font-size: 48px;
    font-weight: bold;
    margin-top: 35px;
}

.section-contact h3 {
    font-size: 32px;
    font-weight: bold;  
}

.contact-form h3 {
    margin-top: 35px;
    margin-bottom: 14px;
}

.contact-form label {
    font-size: 14px;
    padding-top: 20px;
}

.contact-form input[type=text] {
    width: 100%;
    margin: 8px 0;
    padding: 7.5px 0;
    border: 1px solid #848484;
    border-radius: 4px;
}

.contact-form textarea {
    width: 100%;
    height: 148px;
    border-radius: 4px;
    border: 1px solid #848484;
    margin: 8px 0;
}

.contact-form [type=submit] {
    background-color: #222;
    color:#c78c06;
    font-size: 22px;
    border: none;
    margin-top: 12px;
}

.table-hours h3 {
    margin-top: 25px;
    margin-bottom: 12px;
}

table {
    width: 100%;
    font-size: 14px;
    border-collapse: collapse;
}

.table-hours th {
    padding-top: 18px;
    padding-bottom: 18px;
    text-align: center;
    background-color: #ffe6ac;
    border: 1px solid #222;

}

.table-hours td {
    border: 1px solid #222;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 14px;
}

.map h3 {
    margin-top: 25px;
    margin-bottom: 18px;
}

.map iframe {
    width: 100%;
}

footer {
    background-color: #222;
    color: #c78c06;
    font-size: 14px;
    padding-left: 14px;
    padding-top: 32px;
    padding-bottom: 14px;
}

footer a {
    color: #c78c06;
}

footer p {
    margin-top: 16px;
}

/********************* Styles Mobile *************************************/

 /* ==== This just sets the width for accuracy to the mock-up ==== */
        /* Don't put anything else in this media query! */

@media screen and (min-width: 760px) {
    .container  {
        width: 706px;
        margin: 0 auto;
    }    
}

/******************************* Styles desktop *****************************************************/

@media screen and (min-width: 1200px) {
    
    .container {
        width: 1168px;
        /*padding: 0 16px;*/
    }

    .navbar {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 35px 0;
    }

    .nav-list {
        list-style: none;
        display: flex;
        justify-content: space-evenly;
    }

    .nav-list .item {
        display: inline-block;
        font-size: 20px;
        width: 147px;
    }
    
    .logo {
        background-color: transparent;
        margin-right: 60px;
    }

    .search {
        width: 220px;
        height: 44px;
        font-family: arial;
        font-size: 20px;
    }

    .search button {
        font-size: 20px;
        width: 40px;
        height: 40px;
    }

    .intro .welcome-content {
        width: 1200px;
        height: 500px;
        margin: 0px;
        position: inherit;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding-left: 16px;
    }

    .welcome-content p {
        font-size: 16px;
        line-height: 24px;
    }

    .welcome-content button {
        font-size: 24px;
    }

    h1 {
        font-size: 81px;
        line-height: 118px;
        font-weight: bold;
    }
    
    h2 {
        font-size: 54px;
        line-height: 1;
        font-weight: bold;
    }

    h3 {
        font-size: 36px;
        line-height: 1;
        font-weight: bold;
        margin-bottom: 0.8em;
    }

    .section-about {
       display: grid;
       justify-content: center;
       padding-top: 15px;
       padding-bottom: 24px;
    }

    .section-about img {
        width: 50%;
        float: left;
        padding-right: 16px;
    }

    .about-content {
        width: 1168px;
    }

    .about-content p {
        font-size: 16px;
        line-height: 24px;
    }

    .section-services {
        width: 1168px;
        margin: auto;
        padding: 0px;
        margin-bottom: 14px;
    }
    
    .section-services h2 {
        width: 100%;
    }

    /* flexblox*/
    .container-serv {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
    }

    .transformation {
        order: 1;
        flex-grow: 2;
        flex-basis: 49.3%;
    }

    .marketing {
        order: 2;
        flex-basis: 49.3%;
    }

    .video-production {
        order: 3;
        flex-grow: 1;
        flex-basis: calc(10vh - 1vh);
    }

    .web-development {
        order: 4;
        flex-grow: 1;
        flex-basis: calc(10vh - 1vh);
    }

    .print {
        order: 5;
        flex-grow: 1;
        flex-basis: calc(10vh - 1vh);
    }

    /* styles content for each container-serv in our services */
    
    .container-serv .transformation-content, .mark-content, .video-content, .web-content, .print-content  {
        margin-right: 16px;
        margin-left: 16px;
        margin-bottom: 16px;
    }

    .container-serv .transformation, .marketing, .video-production, .web-development, .print  {
        margin-top: 0px;
    }

    .container-serv h3 {
        padding-left: 0px;
    }

    .container-serv button {
        width: 100%;
        margin-left: 0;
        font-size: 24px;
    }

    .container-serv p {
        padding-left: 0;
        font-size: 16px;
        line-height: 24px;
        padding-right: 0;  
    }

    /* our vision*/

    .vision-content {
        max-width: 1168px;
        margin: auto;
    }

    .vision-content p {
        font-size: 16px;
        line-height: 24px;
    }
    
    .section-ourvision {
        width: 100%;
    }

    /* grid john*/
    .john {
        width: 1168px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    
    /* grid bob*/
    .bob {
        width: 1168px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-flow: dense;
    }

    .bob-content {
        grid-column: 1;
    }

    .img-b {
        grid-column: 2;
    }

    .section-team {
        max-width: 1168px;
        margin: auto;
    }

    .section-team .bob {
        margin-top: 0px;
    }

    .teamates p {
        font-size: 16px;
        line-height: 24px;
    }

    /* contact section */

    .section-contact {
        max-width: 1168px;
        margin: auto;
    }

    .contact-container {
        display: flex;
        max-width: 1168px;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: baseline;
    }

    .contact-form {
        order: 1;
        flex-grow: 2;
        flex-basis: 49%;
        margin-right: 16px;
    }

    .map {
        order: 2;
        flex-basis: 49%;
    }

    .table-hours {
        order: 3;
        flex-grow: 1;
        flex-basis: 100%;
    }

    .contact-form [type=submit] {
        font-size: 24px;
        font-family: Arial;
    }

    .section-contact h2 {
        margin-bottom: 35px;
    }

    .contact-container h3 {
        margin-top: 40px;
    }

    /* footer section*/
    .footer {
        max-width: 1168px;
        margin: auto;
    }

}

    